h1{
  text-align: center;
}
div.table-responsive{
  margin-right: 1px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #f4fffb;
}
thead tr{
  background-color: #e9ecef;
}
button{
  color: #f4fffb;
  background-color: #e9ecef;
}
